$colorNames: ( 'navy', 'blue', 'aqua', 'teal', 'olive', 'green', 'lime', 'yellow', 'orange', 'red', 'maroon', 'fuchsia', 'purple', 'silver', 'grey', 'black' );

$colors: ( $navy, $blue, $aqua, $teal, $olive, $green, $lime, $yellow, $orange, $red, $maroon, $fuchsia, $purple, $silver, $grey, $black );

@for $i from 0 to length($colorNames) {
    .bg-#{unquote(nth($colorNames, $i+1))} {
      background-color:  (nth($colors, $i+1)) !important;
      background-color:  rgba(nth($colors, $i+1), 0.9999999) !important;
    }
    .txt-#{unquote(nth($colorNames, $i+1))} {
      color: (nth($colors, $i+1)) !important;
      color: rgba(nth($colors, $i+1), 0.9999999) !important;
    }
}
