/**
  * Project Genesis by Manuel Osorio
  * manuelosorio.me/project-genesis
  * MIT License
*/

/**

  ------------------------------------------------------------------
    PROJECT GENESIS, A CSS framework. Starting Point for projects
  ------------------------------------------------------------------

*/

// Root of All SASS files for Project Genesis
@import 'settings';
@import 'normalize';
html {
  font-family: $family;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.hide{
  display: none;
}

@import 'project-genesis/imports';
