/**
  * Project Genesis by Manuel Osorio
  * manuelosorio.me/project-genesis
  * MIT License
*/

/**

  ------------------------------------------------------------------
    PROJECT GENESIS, A CSS framework. Starting Point for projects
  ------------------------------------------------------------------

*/

// Root of All SASS files for Project Genesis
@import 'normalize';
@import 'settings';
a {
  text-decoration: none;
}
html {
  font-family: $family;
}
@import 'project-genesis/imports';
.hide{
  display: none;
}
