
@function btn-color($color)
  @if map-has-key($button-colors, $color)
    @return map-get($button-colors, $color)
  @warn "Unknown `#{$color}` in $colors."
  @return null


@function btn-size($size)
  @if map-has-key($button-sizes, $size)
    @return map-get($button-sizes, $size)
  @warn "Unknown `#{$size}` in $size."
  @return null

.btn
  font: $family
  text-align: center
  text-decoration: none
  padding: .25em .35em
  display: inline-block
  transition: 300ms ease
  max-width: 250px
  @each $button-color, $colors in $button-colors
    // TODO: add hover animation to make button look likes its being interacted with 
    &.#{$button-color}
      background: btn-color($button-color)
      color: lighten(btn-color($button-color), 25%)
      &:hover
        background: darken(btn-color($button-color), 25%)
        color:  btn-color($button-color)
  @each $button-size, $sizes in $button-sizes
    &.#{$button-size}
      font-size: btn-size($button-size)
