doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='author', content='Manuel Osorio')
    meta(name='description', content='Project Genesis is a css framework meant to be the the starting point for your projects.')
    meta(name='keywords', content='Manuel Osorio, Project Genesis, Css Framework, Genesis, Project, Web Framework ')
    meta(name='robots', content='index, follow')
    link(rel='stylesheet', href='assets/css/project-genesis.css')
    link(rel='stylesheet', href='assets/css/app.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js')
    script(src='assets/js/project-genesis.js')
    title Project Genesis - Documentation
  body
    .nav.default
      .left
        .logo Project Genesis
      .right
        .container
          - list = [{ link: '/flexbox-grid.html', i: 'Flex Box Grid' }, { link: '/colors.html', i: 'Colors' }, { link: '#3', i: 'Item 3' }, { link: '#4', i: 'Item 4' }]
          each item in list
            a(href=item.link class=item.class) #{item.i}
            |
            |
        .menu.default
          .menu-bar
          .menu-bar
          .menu-bar
    .page-content
      .hero
        .hero-container
          .row
            .col.col-12
              h1 Project Genesis
          .row
            .col.col-12
              strong Work in progress CSS framework
          .cta
            a.pg-double-down-arrow(href='#about')
      #about.about
        .row
          .col.col-12
            h2.header What is Project Genesis?
        .row.info
          .col.col-12
            p
              strong Project Genesis
              |  is a css framework meant to be the the starting points for your projects.
        .row
          .col.col-4.col-order-2
            .info-icon
              img(src='assets/img/code.png', alt='project genesis made with sass')
            .row
              .col.col-12
                .info-subtext
                  strong Use Your Own styles
                  br
                  p Don't be shy, add your own styles.
          .col.col-4.col-order-1
            .info-icon
              img(src='assets/img/sass.png', alt='project genesis made with sass')
            .row
              .col.col-12
                .info-subtext
                  strong Made with SASS
                  br
                  p
                    | Project Genesis is modular through the use of 
                    a(href='http://sass-lang.com/', target='_blank') SASS
                    | . Can add your own own modules or remove modules you don't need.
          .col.col-4.col-order-3
            .info-icon
              img(src='assets/img/responsive.png', alt='project genesis made with sass')
            .row
              .col.col-12
                .info-subtext
                  strong Responsive
                  br
                  p Responsive through the use of a grid system.
        div(style='background: #1c9996; width:100%; height: auto; padding: 75px 15px; color: rgba(255, 255, 255, 0.85)')
          .row
            .col.col-12
              h2.header Lorem ipsum dolor sit amet
          .row.info
            .col.col-12
              p
                | Project Genesis is currently being worked on and will not be publicly released until most of the features
                | I'm working on are functional. That being said my plans for this framework is to make it easy to understand
                | while being functional, Although I recommend using the sass version of this framework, I'll also provide a
                | css download link. Below Code snippets (On mobile devices you may need to scroll horizontally on the snippets) and a showcase (will add soon) of the features that are ready done will be provide below.
    .row
      .col.col-2.col-md-2
      .col.col-8.col-md-8
        include test.html
