$buttonSizes: (
  small: 0.9em,
  medium: 1.25em,
  large: 1.65em,
);
// $buttonColors: (
//   "danger": $red,
//   "caution": $yellow,
//   "success": $lime,
// );
$buttonColors: (
  'navy': $navy,
  'blue': $blue,
  'aqua': $aqua,
  'teal': $teal,
  'olive': $olive,
  'green': $green,
  'lime': $lime,
  'yellow': $yellow,
  'orange': $orange,
  'red': $red,
  'maroon': $maroon,
  'fuchsia': $fuchsia,
  'purple': $purple,
  'silver': $silver,
  'grey': $grey,
  'black': $black
);
