.nav.sidebar
	flex-direction: column
	flex-flow: column
	align-items: baseline
	width: 250px
	top: 0
	bottom: 0
	background: $black
	position: fixed
	transition: 250ms ease-in-out
	&.left
		left: -250px
		&.active
			left: 0
	&.right
		right: -250px
		&.active
			right: 0
	.logo
		margin: 25px auto
	.container
		margin: 0 auto
		display: flex
		justify-content: space-around
		flex-flow: column
		height: 75%
		a
			align-self: flex-start
			justify-content: space-around
			// margin: 10px 0
	.menu
		position: fixed
		top: 10px
		.menu-bar
			transition: 250ms ease-in-out
			/* offset-x | offset-y | blur-radius | spread-radius | color */
			box-shadow: 0 0 2px 1.5px rgba($yellow, .45)
		&.active > .menu-bar
			box-shadow: 0 0 2px 1.5px rgba($lime, 0)
.nav.sidebar.left .menu
	left: 10px
	&.active
		left: 260px
.nav.sidebar.right .menu
	right: 10px
	&.active
		right: 260px
body
	height: 100rem
