+keyframes(cta-shake)
  50%, 99%
    transform: translateX(15px)
  50.5%, 99.5%
    transform: translateX(-15px)
  0%, 49.5%, 51%, 98.5%, 100%
    transform: translateX(0)




.hero
  background: url(../img/hero.png) no-repeat center fixed
  background-size: cover
  background-color: rgba($aqua, .35)
  background-blend-mode: darken
  text-align: center
  // filter: blur(1px)
  display: flex
  width: 100vw
  height: 100vh
  justify-content: center
  align-content: center
  transition: 250ms ease-in-out
  &-container
    align-self: center
    h1
      color: lighten($silver, 20%)
      button
        appearance: none
    strong
      font-size: $size-l
      color: $silver
      font-weight: $weight-medium
      // .btn
      //   width: 100%
  .cta
    box-sizing: content-box
    font-family: 'Project-Genesis' !important
    display: flex
    position: relative
    bottom: -45px
    width: 75px
    height: 75px
    border-radius: 50%
    border-width: 3px
    border-style: solid
    border-color: $aqua
    margin: 0 auto
    transition: 250ms ease-in-out
    justify-content: center
    align-items: center
    +animation(cta-shake 12s ease-in-out infinite)
    .pg-double-down-arrow
      font-size: 30px
      color: $aqua
    &::after
      content: ""
      border-style: solid
      border-color: $aqua
      border-radius: 50%
      border-width: 2px

      height: 100%
      width: 75px

      position: absolute
      top: -2px
      left: -2px

      opacity: 0
      transition: 250ms ease-in-out
      pointer-events: none
.header
@media screen and (min-width: 700px)
  .hero
    h1
      font-size: 60px
      font-weight: $weight-bold

    .cta
      bottom: -20vh
      transition: 250ms ease-in-out
      &:hover
        transform: scale(1.1)
        +animation(none)
        &::after
          opacity: 100
          transform: scale(1.35)


body
  background-color: $silver
  height: 2500px
  overflow-x: hidden
